./build

# Ignore everything in sandbox/ (runtime home dir contents)
sandbox/**
workspace/**

# Ignore changes on main conf
ai-agents-sandbox.conf

# Keep the directory tracked
!sandbox/.gitkeep
!workspace/.gitkeep
